apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: argocd
  namespace: argocd
spec:
  project: default
  destination:
    server: https://kubernetes.default.svc
    namespace: argocd
  source:
    repoURL: https://argoproj.github.io/argo-helm
    chart: argo-cd
    targetRevision: "*"
    helm:
      values: |
        server:
          ingress:
            enabled: true
            ingressClassName: nginx
            annotations:
              cert-manager.io/cluster-issuer: letsencrypt-prod
            hosts: [ argocd.ekenstam.dev ]
            paths: [ "/" ]
            tls:
              - hosts: [ argocd.ekenstam.dev ]
                secretName: argocd-tls
          extraArgs: [ "--insecure" ]
        configs:
          cm:
            application.instanceLabelKey: argocd.argoproj.io/instance
        repoServer:
          env:
            - name: XDG_CONFIG_HOME
              value: /.config
            - name: SOPS_AGE_KEY_FILE
              value: /.config/sops/age/keys.txt
            - name: KUSTOMIZE_PLUGIN_HOME
              value: /.config/kustomize/plugin
          volumes:
            - name: custom-tools
              emptyDir: {}
            - name: sops-age
              secret:
                secretName: sops-age
          volumeMounts:
            - name: custom-tools
              mountPath: /custom-tools
            - name: sops-age
              mountPath: /.config/sops/age/keys.txt
              subPath: keys.txt
          initContainers:
            - name: install-ksops
              image: viaductoss/ksops:v4.3.2
              command: ["/bin/sh","-c"]
              args:
                - >
                  cp /usr/local/bin/ksops /custom-tools/ &&
                  cp /usr/local/bin/kustomize /custom-tools/ &&
                  mkdir -p /.config/kustomize/plugin/viaduct.ai/v1/ksops &&
                  cp /usr/local/bin/ksops /.config/kustomize/plugin/viaduct.ai/v1/ksops/ksops &&
                  echo "KSOPS installed";
              volumeMounts:
                - name: custom-tools
                  mountPath: /custom-tools
                - name: sops-age
                  mountPath: /.config/sops/age/keys.txt
                  subPath: keys.txt
  syncPolicy:
    automated: { prune: true, selfHeal: true }
    syncOptions: [ CreateNamespace=true ]
